bcrypt
docx
gTTS
networkx
numpy
nltk
matplotlib
pandas
Pillow
plotly
pygwalker
pymongo
python_bcrypt
python_docx
pyttsx3
Requests
scikit_learn
scipy
seaborn
SpeechRecognition
streamlit
stringcase
streamlit_lottie
textblob
wikipedia
wordcloud
